free-pouring-page {

  exacto-pour {
    height: calc(100% - 60px); // minus the button height
    transition: right 500ms;
    right: -60px;

    &.onscreen {
      transition: right 500ms;
      right: 0;

    }
  }

  .pour-report {

    top: calc(20% + 200px + 10px);
    bottom: 10px;
    width: calc(100% - 60px - 10px);

    transition: left 500ms;
    left: -100%;

    &.onscreen {
      transition: left 500ms;
      left: 0;
    }
  }

  inclination-round-display {
    width: 100%;
    top: 20%;
    .circle {
      margin: 0 auto;
    }
  }

}