<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'pages.main'|translate:lang}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- FIXED CONTENT - START -->
  <exacto-pour
    ion-fixed
    [quantity]="quantity"
    [ngClass]="{ shifted: isPouring }"
    ></exacto-pour>

  <inclination-round-display ion-fixed [active]="isSubscribed"></inclination-round-display>
  <!-- FIXED CONTENT - END -->


  <button ion-button
          full
          large
          color="{{isSubscribed ? 'failure' : 'primary'}}" (click)="toggleAccelerometer()">
    <ion-icon name="{{isSubscribed ? 'square' : 'play'}}"></ion-icon>
  </button>

  <ul *ngIf="stats">
    <li *ngFor="let item of stats.data"
      [ngStyle]="{ background: item.isCorrectPosition ? 'green' : 'yellow' }">
      {{item.inclination}}
    </li>
  </ul>

  <ion-input type="number" placeholder="qt" [(ngModel)]="quantity"></ion-input>
  <ion-input type="number" placeholder="qt small" *ngIf="stats" [(ngModel)]="stats.quantity"></ion-input>


</ion-content>
