<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'pages.main'|translate:lang}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="testPhase==='TO_BEGIN'">


    <h1>{{'pages.pourTest'|translate:lang}}</h1>

    <div>{{'pourTestPage.welcome'|translate:lang}}</div>


    <button
      ion-button
      color="primary"
      full
      large
      (click)="startTest()">
      <ion-icon name="play"></ion-icon>
    </button>

  </div>

  <div *ngIf="testPhase==='ONGOING'">

    <inclination-round-display
      [active]="!!currentTest"
      ></inclination-round-display>

    <div>
      {{'pourTestPage.pour'|translate:lang:{measure: currentTest.measure.description} }}
    </div>

    <hr/>

    <div class="test-list">
      <div class="test-item" *ngFor="let item of testList">
        <span class="descr">{{item.measure.description}}</span>
        <ion-icon name="checkmark" *ngIf="item.isDone()"></ion-icon>
      </div>
    </div>
  </div>


</ion-content>
