inclination-round-display {

  $circle-diameter: 200px;
  $border-width: 3px;
  $circle-radius-no-border: ($circle-diameter / 2 - $border-width - 1);
  $line-rotation: 0.5235987755982988rad;

  $color-border-normal: #808080;
  $color-border-correct: darken(app-color(success), 0%);
  $color-border-wrong: darken(app-color(warning), 0%);

  $color-bg-normal: rgba($color-border-normal, .1);
  $color-bg-correct: rgba($color-border-correct, .1);
  $color-bg-wrong: rgba($color-border-wrong, .1);



  .circle {
    position: relative;
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: 100%;
    overflow: hidden;
    border: $border-width solid $color-border-normal;
    background: $color-bg-normal;

    &.correct-inclination {
      border-color: $color-border-correct;
      background: $color-bg-correct;
    }
    &.wrong-inclination {
      border-color: $color-border-wrong;
      background: $color-bg-wrong;
    }

    &.left-hand {
      transform: rotateY(180deg);
    }
  }

  .lines-group {
    width: 100%;
    height: 100%;
    transition: transform 120ms;
  }

  .bottle-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: app-color(info);
    left: $circle-radius-no-border;
    top: $circle-radius-no-border;
    transform-origin: top;
  }

  .inclination-limit-line {
    position: absolute;
    width: 2px;
    height: $circle-radius-no-border;
    background: #999;
    left: $circle-radius-no-border;
    transform-origin: bottom;

    &.left {
      transform: rotate(-$line-rotation);
    }
    &.right {
      transform: rotate($line-rotation);
    }
  }

  .central-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: #ccc;
    left: $circle-radius-no-border;
  }

  .horizontal-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ccc;
    top: $circle-radius-no-border;
  }

}